@CHARSET "UTF-8";

/*
Barvy 
    geozelená = #66CC33
    geozelená = rgb(102,204,51)
    geozelená hlavní= rgba(102,204,51,1)

    geošedá = rgb(114,112,111)
    geošedá = #72706f

    šedá základní = #c7c7c7
    šedá hover = #DCDCDC

(a)
    geozelená tmavá = #493
    geozelená tmavá websafe = #393

(a:visited)
    geozelená visited = #362
    geozelená visited websafe = #393

    geomatika světle oranžová = rgb(239,154,72)
*/


* {
    box-sizing: border-box;
}

a {
    
cursor: pointer;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    color: #2A3333;
    margin: 0;
    }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* --- Main parts of window --- */
.container{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    height: 100%;
}

#main{
    position: relative;
    width:  100%;
    display: block;
}

#left{
    width: 75%;
    float: left;
    position: relative;
}

#right{
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    width: 25%;
    text-align: left;
    position: relative;
    z-index: 2;
}

#top{
    width: 100%;
    display: inline;
    height: 14em;
    float: left;
}

/* --- SQL parts --- */
#sql{
    float: left;
    padding: 1em;
    text-align: left;
    width: 60%;
    display: block;
    height: 100%;
}

#sql:after{
    content:"";
    display:table;
    clear:both;
}

#sql_name{
    border: 1px solid silver;
    padding: 0.5em;
    height: 2.5em;
    width: 100%;
    border-bottom:  none;
    font-weight: bold;
}

#sql_txt{
    padding: 0.5em;
    border: 1px solid silver;
    height: 8em;
    width: 100%;
    font-family: "Courier New";
}

/* --- SQL action buttons --- */
#sql_buttons{
    width: 40%;
    float: left;
    padding-right:  10%;
    padding-left:  10%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    height:  inherit;
}
.btn-group button {
    background-color: #6C3; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 14px 30px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%;  /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    font-size: 15px;
}
.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:hover {
    background-color: #493;
}

/* --- Stored Query action buttons --- */
.query_preview {
    width: 100%;
    background-color: #555;
    border: 1px solid #c0c0c0;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.query_preview:hover {
    width: 100%;
    background-color: #777;
    border: 1px solid #333;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.query_download{
    width: 50%;
    background-color: #72706f;
    border: 1px solid #c0c0c0;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}

img.data_download{
    padding: 0px 5px;
    display: inline-block;
    float: right;
}

img.data_download:hover{
    padding: 0px 5px;
    display: inline-block;
    border: 1px solid #808080;
}

.query_check_status {
    width: 100%;
    background-color: #555;
    border: 1px solid #c0c0c0;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.query_check_status:hover {
    width: 100%;
    background-color: #777;
    border: 1px solid #333;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

/* -------- Collabsible -------- */
.collapsible {
    background-color: #6C3;
    border: 1px solid green;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #493;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.processing {
    background-color: rgb(247, 187, 110);
    border: 1px solid rgb(236, 124, 15);
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.processing:hover {
    background-color: rgb(236, 124, 15);
}

/* Table in Collabsible list */
.content {
    padding: 0 3px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ededed;
}
/*
.query_actions, .query_downlds {
    
    display: block;
}
*/
#query {
    font-family: "Courier New";
}
/* ------------------------------------ */

.query_meta{
    width: 100%;
}

tr.query_meta_row{
    position:relative;
    display: table-row;
    vertical-align: text-bottom;
}

td.query, td.features {
    width: 100%;
}

td.query_actions, td.query_downlds{
    width: 50%;
    height: 2em;
    display: inline-table;
    vertical-align: middle;
}

tbody {
}

/* --- Tabs in main window --- */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    font-size: 15px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: #000000;
    display: none;
    padding: 48px 0px 0px 0px;
    height: 100%;
}

th {
    background:#c0c0c0;
    border:  1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#dataTable {
    border: 1px solid;
    width: 100%;
    overflow-x:  scroll;
}

#map_area{
    width: 100%;
    /* height: 100%; */
}

/* --- Map popup --- */
.pop_info{
    border: 1px solid;
    width: 100%;
}

.info_key{
    border-right: 1px solid;
}